<a href="https://colab.research.google.com/github/23r91a7309-bot/data-handling-python/blob/main/datapreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data = {
    'City': ['A','B','B','A','A'],
    'Age': [25, np.nan, 30, 200, 200],
    'Salary': [50000, 52000, np.nan, 60000, 60000]
}

df = pd.DataFrame(data)
print("Original Data:\n", df)
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print("\nAfter Handling Missing Values:\n", df)
print("\nAfter Noise Detection & Removal:\n", df)
df = df.drop_duplicates()
print("\nAfter Removing Redundant Data:\n", df)

Original Data:
   City    Age   Salary
0    A   25.0  50000.0
1    B    NaN  52000.0
2    B   30.0      NaN
3    A  200.0  60000.0
4    A  200.0  60000.0

After Handling Missing Values:
   City     Age   Salary
0    A   25.00  50000.0
1    B  113.75  52000.0
2    B   30.00  55500.0
3    A  200.00  60000.0
4    A  200.00  60000.0

After Noise Detection & Removal:
   City     Age   Salary
0    A   25.00  50000.0
1    B  113.75  52000.0
2    B   30.00  55500.0
3    A  200.00  60000.0
4    A  200.00  60000.0

After Removing Redundant Data:
   City     Age   Salary
0    A   25.00  50000.0
1    B  113.75  52000.0
2    B   30.00  55500.0
3    A  200.00  60000.0

/tmp/ipython-input-1875144173.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-1875144173.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)